$display-border-radius = 10px

#banner
  border-bottom none
  margin-top -20px

#banner h1
  font-size 60px
  letter-spacing -1px
  line-height 1

.hero-unit
  background #797979
  color #fff
  padding 30px 15px
  position relative
  text-align center
  text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.navbar-text
  margin-left 15px

img
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;

body
  background #797979
  color #fff
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  font-family Helvetica

td
  font-weight: bold

label
  margin-top 20px
  margin-bottom 20px

/************************
        DISPLAYS
************************/

.team-main-display
  padding: 30px

.team-main-info-display
  margin-top 20px


.team-main-display-header
  padding-top 20px
  padding-bottom 20px
  margin-bottom 50px
  border-radius $display-border-radius

  h1
    font-size 400%
    font-weight bold
  h4
    font-size 200%

.player-main-display-header
  border-radius $display-border-radius
  margin-top 20px
  padding-top 20px
  padding-bottom 20px

  h1
    font-size 400%
    font-weight bold
  h4
    font-size 200%

/************************
        CIRCLE RANK
************************/

.circle-rank
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: text-top;


.circle-rank-half
  height: 125px;
  line-height: 125px;
  padding: 0;
  margin: 0;
  font-weight bold
  font-size 500%

.circle-rank-label
  font-size 400%
  font-weight bold

.circle-rank-separator
  height 2px
  width 90%
  margin-left auto
  margin-right auto

/************************
        COLOR BREAK
************************/

.color-break
  height 80px
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;

/************************
        TAB MENU
************************/

.tab-menu
  margin-top 30px

  h3
    font-weight bold

.tab-menu-option
  padding 0
  font-weight bold

.tab-menu-option-left
  border-top-left-radius $display-border-radius
  border-bottom-left-radius $display-border-radius

.tab-menu-option-right
  border-top-right-radius $display-border-radius
  border-bottom-right-radius $display-border-radius

/************************
PLAYER PAGE BACK BUTTON
************************/
.home-button
  margin-top 15px
  border-radius $display-border-radius
  cursor pointer

.pick-a-team
  margin-top 25px
  margin-bottom 10px
  border-radius $display-border-radius

/************************
Bar Chart
************************/

.bar-chart-border
  border-radius $display-border-radius

.player-name
  border-radius $display-border-radius
  margin-top: 20px
