$display-border-radius = 10px

#banner
  border-bottom none
  margin-top -20px

#banner h1
  font-size 60px
  letter-spacing -1px
  line-height 1

.hero-unit
  background #797979
  color #2D2926
  padding 30px 15px
  position relative
  text-align center
  text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.navbar-text
  margin-left 15px

img
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;

body
  background #797979
  color #2D2926
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;

td
  font-weight: bold

/************************
        DISPLAYS
************************/

.team-main-display
  padding: 30px

.team-main-display-header
  margin-bottom 50px
  border-radius $display-border-radius

.player-main-display-header
  border-radius $display-border-radius


/************************
        CIRCLE RANK
************************/

.circle-rank
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: text-top;

.circle-rank-half
  height: 125px;
  line-height: 125px;
  padding: 0;
  margin: 0;

.circle-rank-separator
  height 2px
  width 90%
  margin-left auto
  margin-right auto

/************************
        COLOR BREAK
************************/

.color-break
  height 80px
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;

/************************
        TAB MENU
************************/

.tab-menu
  margin-top 30px

.tab-menu-option
  padding 0

.tab-menu-option-left
  border-top-left-radius $display-border-radius
  border-bottom-left-radius $display-border-radius

.tab-menu-option-right
  border-top-right-radius $display-border-radius
  border-bottom-right-radius $display-border-radius
