$display-border-radius = 10px

#banner
  border-bottom none
  margin-top -20px

#banner h1
  font-size 60px
  letter-spacing -1px
  line-height 1

.hero-unit
  background #797979
  color #fff
  padding 30px 15px
  position relative
  text-align center
  text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)

.navbar-text
  margin-left 15px

img
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;

body
  background #797979
  color #fff
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  font-family: 'Oswald', sans-serif;

td
  font-weight: bold

label
  margin-top 20px
  margin-bottom 20px

svg
  display block
  margin-left auto
  margin-right auto

#team-select
  font-weight bold

#stat-select
  font-weight bold
  margin-top 5px

#splits-stat-select
  font-weight bold
  margin-top 5px

#ten-game-stat-select
  font-weight bold
  margin-top 5px

.coaches
  padding-top 10px
  padding-bottom 20px
  border-radius $display-border-radius

.nba-title
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;
  font-weight bold
  font-size 350%


/************************
        DISPLAYS
************************/

.team-main-display
  padding: 30px

.team-main-info-display
  margin-top 20px


.team-main-display-header
  padding-top 20px
  padding-bottom 20px
  margin-bottom 50px
  border-radius $display-border-radius

  h1
    font-size 400%
    font-weight bold
  h4
    font-size 200%

.player-main-display-header
  border-radius $display-border-radius
  margin-top 20px
  padding-top 20px
  padding-bottom 20px

  h1
    font-size 400%
    font-weight bold
  h4
    font-size 200%

/************************
        CIRCLE RANK
************************/

.circle-rank
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: text-top;


.circle-rank-half
  height: 100px;
  line-height: 100px;
  padding: 0;
  margin: 0;
  font-weight bold
  font-size 400%

.circle-rank-label
  font-size 400%
  font-weight bold

.circle-rank-separator
  height 2px
  width 90%
  margin-left auto
  margin-right auto

/************************
        COLOR BREAK
************************/

.color-break
  height 80px
  transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -webkit-transition: all .5s ease-out;

/************************
        TAB MENU
************************/


.tab-menu
  margin-top 30px

  h2, h4
    font-weight bold
    margin-top 2px
    margin-bottom 2px


.tab-menu-option
  padding 0
  font-weight bold

.tab-menu-option-left
  border-top-left-radius $display-border-radius
  border-bottom-left-radius $display-border-radius

.tab-menu-option-right
  border-top-right-radius $display-border-radius
  border-bottom-right-radius $display-border-radius

/************************
PLAYER PAGE BACK BUTTON
************************/
.home-button
  margin-top 15px
  border-radius $display-border-radius
  cursor pointer

.pick-a-team
  margin-top 25px
  margin-bottom 10px
  border-radius $display-border-radius

/************************
        Bar Chart
************************/

.bar
  height 200px
  -webkit-transition: height .5s, -webkit-transform .5s;
  transition: height .5s, transform .5s;

.bar-chart-border
  border-radius $display-border-radius
  padding 10px

.bar-chart-title
  margin-top 2px
  padding 5px
  border-radius $display-border-radius

.bar-chart-title-xs
  margin-top 2px
  padding 5px
  border-radius $display-border-radius

.bar-chart-title-small
  margin-top 2px
  padding 5px
  border-radius $display-border-radius

.bar-chart-title-medium
  margin-top 2px
  padding 5px
  border-radius $display-border-radius

.player
  font-weight bold
  font-size 16px

.player:hover
  cursor pointer

.player-chart
  margin-top 20px

.player-chart-xs
  margin-top 20px

.player-chart-small
  margin-top 20px

.player-chart-medium
  margin-top 20px

.player-charts-display
  margin-top 50px

.player-name
  border-radius $display-border-radius
  margin-top: 20px

/************************
     MEDIA QUERIES
************************/

@media screen and (max-width: 500px)
  .circle-rank
    height: 150px;
    width: 150px;

  .circle-rank-half
    height: 75px
    line-height: 75px
    font-size: 350%

  .circle-rank-label
    font-size 350%

  .nba-title
    font-size 300%

  .player
    font-size 16px

  .team-main-display-header
    h1
      font-size 400%
      font-weight bold
    h4
      font-size 200%

  .player-main-display-header
    h1
      font-size 400%
      font-weight bold
    h4
      font-size 200%

@media screen and (max-width: 400px)
  .circle-rank
    height: 100px;
    width: 100px;

  .circle-rank-half
    height: 50px
    line-height: 50px
    font-size: 250%

  .circle-rank-label
    font-size 250%

  .nba-title
    font-size 300%

  .player
    font-size 12px

  .team-main-display-header
    h1
      font-size 300%
      font-weight bold
    h4
      font-size 100%

  .player-main-display-header
    h1
      font-size 300%
      font-weight bold
    h4
      font-size 100%
