<style type="text/css">
body{
  background: {{primaryColor}};
  color: {{secondaryColor}};
}
footer a {
  color: {{secondaryColor}};
}
footer a:hover {
  color: {{secondaryColor}};
}
label{
  color: {{primaryColor}};
}
a{
  color: {{secondaryColor}};
}
#splits-stat-select{
  background-color: {{secondaryColor}} !important;
  color: {{primaryColor}} !important;
}
#ten-game-stat-select{
  background-color: {{secondaryColor}} !important;
  color: {{primaryColor}} !important;

}
.bar{
  background: {{secondaryColor}};
  fill: {{secondaryColor}};
  color: {{primaryColor}};
}
.bar-text{
  fill: {{primaryColor}};
}
.bar-chart-border{
  border: 2px solid {{secondaryColor}};
}
.bar-chart-title{
  background: {{secondaryColor}};
  color: {{primaryColor}};
}
.circle-rank{
  color: {{primaryColor}};
  background: {{secondaryColor}};
}
.circle-rank-separator{
  background: {{primaryColor}};
}

.chart{
  background: {{secondaryColor}};
}
.chart div{
  background:{{primaryColor}};
  color: {{secondaryColor}};
}
.chart-tab-menu-option-left{
  border: 3px solid {{secondaryColor}};
}
.chart-tab-menu-option-selected{
  background: {{secondaryColor}};
  color: {{primaryColor}};
}
.chart-tab-menu-option-right{
  border: 3px solid {{secondaryColor}};
}
.home-button{
  border: 3px solid {{secondaryColor}};
  color: {{secondaryColor}};
  background: {{primaryColor}};
}
.player-main-display-header{
  background: {{secondaryColor}};
  color: {{primaryColor}};
}
.player-name{
  background: {{secondaryColor}};
  color: {{primaryColor}};
}
.tab-menu-option-middle{
  border-right: 3px solid {{secondaryColor}};
  border-left: 3px solid {{secondaryColor}};
  border: 3px solid {{secondaryColor}};
}
.tab-menu-option-left{
  border: 3px solid {{secondaryColor}};
}
.tab-menu-option-right{
  border: 3px solid {{secondaryColor}};
}
.tab-menu-option-selected{
  background: {{secondaryColor}};
  color: {{primaryColor}};
}
</style>

<div class="color-break text-center" ng-style="{background: primaryColor, color: secondaryColor}">
  <h1 class="nba-title">NBAngular</h1>
</div>

<header class="hero-unit" id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-6 col-xs-offset-3 col-sm-offset-3 col-lg-offset-4 col-md-offset-4">
        <img class="img-responsive" src="assets/images/logos/{{teamImage}}" alt="{{selectedTeam}}">
      </div>
      <div class="col-xs-6 col-xs-offset-3">
        <div class="home-button text-center" ng-click="goHome()">
          <h3>GO BACK</h3>
        </div>
      </div>
    </div>
  </div>
</header>



<div class="container">

  <div class="tab-menu">
    <div class="row text-center">
      <div class="col-xs-4 col-md-2 col-md-offset-3 tab-menu-option-left" ng-click="tabIt(tabs[0].id)">
        <h3>STATS</h3>
      </div>
      <div class="col-xs-4 col-md-2 tab-menu-option-middle tab-menu-option-selected" ng-click="tabIt(tabs[1].id)">
        <h3>INFO</h3>
      </div>
      <div class="col-xs-4 col-md-2 tab-menu-option-right" ng-click="tabIt(tabs[2].id)">
        <h3>CHARTS</h3>
      </div>
    </div>
  </div>

  <div class="player-main-display" ng-show="tabs[1].active == true">

    <div class="player-main-info-display" >
      <div class="row">
        <div class="col-lg-12">
          <div class="player-main-display-header text-center">
            <h1>#{{cpi.jersey}} {{cpi.displayFirstLast | uppercase}}</h1>
            <h4>{{cpi.position}} / {{cpi.teamCity | uppercase}} {{cpi.teamCode | uppercase}}</h4>
            <h4>Height: {{cpi.height}} Weight: {{cpi.weight}}</h4>
            <h4>Born: {{cpi.birthdate | date: shortDate}} Country: {{cpi.country}}</h4>
            <h4>Rookie Year: {{cpi.fromYear}}  School: {{cpi.school}}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="player-main-stats-display">
      <div class="row text-center">

        <div class="col-md-3 col-xs-6">
          <h2 class="circle-rank-label">PPG</h2>
          <div class="circle-rank">
            <h2 tooltip="Season Average" class="circle-rank-half">{{seasonAvg.pts}}</h2>
            <div class="circle-rank-separator"></div>
            <h2 tooltip="Career Average" class="circle-rank-half">{{careerAvg.pts}}</h2>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <h2 class="circle-rank-label">APG</h2>
          <div class="circle-rank">
            <h2 tooltip="Season Average" class="circle-rank-half">{{seasonAvg.ast}}</h2>
            <div class="circle-rank-separator"></div>
            <h2 tooltip="Career Average" class="circle-rank-half">{{careerAvg.ast}}</h2>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <h2 class="circle-rank-label">RPG</h2>
          <div class="circle-rank">
            <h2 tooltip="Season Average" class="circle-rank-half">{{seasonAvg.reb}}</h2>
            <div class="circle-rank-separator"></div>
            <h2 tooltip="Career Average" class="circle-rank-half">{{careerAvg.reb}}</h2>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <h2 class="circle-rank-label">SPG</h2>
          <div class="circle-rank">
            <h2 tooltip="Season Average" class="circle-rank-half">{{seasonAvg.stl}}</h2>
            <div class="circle-rank-separator"></div>
            <h2 tooltip="Career Average" class="circle-rank-half">{{careerAvg.stl}}</h2>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <h2 class="circle-rank-label">BPG</h2>
          <div class="circle-rank">
            <h2 tooltip="Season Average" class="circle-rank-half">{{seasonAvg.blk}}</h2>
            <div class="circle-rank-separator"></div>
            <h2 tooltip="Career Average" class="circle-rank-half">{{careerAvg.blk}}</h2>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <h2 class="circle-rank-label">FG%</h2>
          <div class="circle-rank">
            <h2 tooltip="Season Average" class="circle-rank-half">{{seasonAvg.fgPct * 100 | number:0}}%</h2>
            <div class="circle-rank-separator"></div>
            <h2 tooltip="Career Average" class="circle-rank-half">{{careerAvg.fgPct * 100| number:0}}%</h2>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <h2 class="circle-rank-label">FG3%</h2>
          <div class="circle-rank">
            <h2 tooltip="Season Average" class="circle-rank-half">{{seasonAvg.fg3Pct * 100| number:0}}%</h2>
            <div class="circle-rank-separator"></div>
            <h2 tooltip="Career Average" class="circle-rank-half">{{careerAvg.fg3Pct * 100| number:0}}%</h2>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <h2 class="circle-rank-label">FT%</h2>
          <div class="circle-rank">
            <h2 tooltip="Season Average" class="circle-rank-half">{{seasonAvg.ftPct * 100| number:0}}%</h2>
            <div class="circle-rank-separator"></div>
            <h2 tooltip="Career Average" class="circle-rank-half">{{careerAvg.ftPct * 100| number:0}}%</h2>
          </div>
        </div>

      </div>
    </div>


  </div>



  <div class="player-stats-display text-center" ng-show="tabs[0].active == true">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 player-name text-center">
        <h1>#{{cpi.jersey}} {{cpi.displayFirstLast | uppercase}}</h1>
      </div>
    </div>


    <div class="season-avg-stats-table">
      <h1>Season Averages</h1>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>GP</th>
            <th>WIN%</th>
            <th>MIN</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>OREB</th>
            <th>DREB</th>
            <th>REB</th>
            <th>AST</th>
            <th>TOV</th>
            <th>BLK</th>
            <th>PTS</th>
            <th>+/-</th>
          </tr>

          <tr>
            <th>{{seasonAvg.gp}}</th>
            <th>{{seasonAvg.wPct}}</th>
            <th>{{seasonAvg.min}}</th>
            <th>{{seasonAvg.fgm}}</th>
            <th>{{seasonAvg.fga}}</th>
            <th>{{seasonAvg.fgPct}}</th>
            <th>{{seasonAvg.fG3M}}</th>
            <th>{{seasonAvg.fG3A}}</th>
            <th>{{seasonAvg.fg3Pct}}</th>
            <th>{{seasonAvg.ftm}}</th>
            <th>{{seasonAvg.fta}}</th>
            <th>{{seasonAvg.ftPct}}</th>
            <th>{{seasonAvg.oreb}}</th>
            <th>{{seasonAvg.dreb}}</th>
            <th>{{seasonAvg.reb}}</th>
            <th>{{seasonAvg.ast}}</th>
            <th>{{seasonAvg.tov}}</th>
            <th>{{seasonAvg.blk}}</th>
            <th>{{seasonAvg.pts}}</th>
            <th>{{seasonAvg.plusMinus}}</th>
          </tr>

        </table>
      </div>
    </div>

    <div class="career-avg-stats-table">
      <h1>Career Averages</h1>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>MIN</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>OREB</th>
            <th>DREB</th>
            <th>REB</th>
            <th>AST</th>
            <th>TOV</th>
            <th>BLK</th>
            <th>PTS</th>
          </tr>

          <tr>
            <th>{{careerAvg.min}}</th>
            <th>{{careerAvg.fgm}}</th>
            <th>{{careerAvg.fga}}</th>
            <th>{{careerAvg.fgPct}}</th>
            <th>{{careerAvg.fG3M}}</th>
            <th>{{careerAvg.fG3A}}</th>
            <th>{{careerAvg.fg3Pct}}</th>
            <th>{{careerAvg.ftm}}</th>
            <th>{{careerAvg.fta}}</th>
            <th>{{careerAvg.ftPct}}</th>
            <th>{{careerAvg.oreb}}</th>
            <th>{{careerAvg.dreb}}</th>
            <th>{{careerAvg.reb}}</th>
            <th>{{careerAvg.ast}}</th>
            <th>{{careerAvg.tov}}</th>
            <th>{{careerAvg.blk}}</th>
            <th>{{careerAvg.pts}}</th>
          </tr>

        </table>
      </div>
    </div>

    <div class="career-total-stats-table">
      <h1>Career Totals</h1>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>MIN</th>
            <th>FGM</th>
            <th>FGA</th>
            <th>FG%</th>
            <th>3PM</th>
            <th>3PA</th>
            <th>3P%</th>
            <th>FTM</th>
            <th>FTA</th>
            <th>FT%</th>
            <th>OREB</th>
            <th>DREB</th>
            <th>REB</th>
            <th>AST</th>
            <th>TOV</th>
            <th>BLK</th>
            <th>PTS</th>
          </tr>

          <tr>
            <th>{{careerTotal.min}}</th>
            <th>{{careerTotal.fgm}}</th>
            <th>{{careerTotal.fga}}</th>
            <th>{{careerTotal.fgPct}}</th>
            <th>{{careerTotal.fG3M}}</th>
            <th>{{careerTotal.fG3A}}</th>
            <th>{{careerTotal.fg3Pct}}</th>
            <th>{{careerTotal.ftm}}</th>
            <th>{{careerTotal.fta}}</th>
            <th>{{careerTotal.ftPct}}</th>
            <th>{{careerTotal.oreb}}</th>
            <th>{{careerTotal.dreb}}</th>
            <th>{{careerTotal.reb}}</th>
            <th>{{careerTotal.ast}}</th>
            <th>{{careerTotal.tov}}</th>
            <th>{{careerTotal.blk}}</th>
            <th>{{careerTotal.pts}}</th>
          </tr>

        </table>
      </div>
    </div>



  </div>

  <div class="player-charts-display" ng-show="tabs[2].active == true">

    <div class="row">
      <div class="col-md-8 col-md-offset-2 player-name text-center">
        <h1>#{{cpi.jersey}} {{cpi.displayFirstLast | uppercase}}</h1>
      </div>
    </div>

    <div class="row player-chart">
      <div class="col-md-8 col-md-offset-2 bar-chart-border text-center">

        <h3 class="bar-chart-title last-10">Last 10 Games</h3>
        <bar-chart class="bar-chart" data="player10" chartid="'last-ten-chart-bars'" chart-title="'.last-10'"></bar-chart>
        <select ng-model="selectedStatTen" name="statTen" id="ten-game-stat-select" class="form-control">
          <option ng-repeat="stat in player.stats10" value="{{stat.id}}">{{stat.name}}</option>
        </select>
      </div>
    </div>

    <div class="row player-chart">
      <div class="col-md-8 col-md-offset-2 bar-chart-border text-center">
        <h3 class="bar-chart-title player-splits">Player Splits</h3>
        <bar-chart class="bar-chart" data="playerSplits" chartid="'player-splits-chart-bars'" chart-title="'.player-splits'"></bar-chart>
        <select ng-model="selectedStatSplits" name="statSplits" id="splits-stat-select" class="form-control">
          <option ng-repeat="stat in player.stats" value="{{stat.id}}">{{stat.name}}</option>
        </select>
      </div>
    </div>

  </div>

</div>
